
/* --------Datatabel------ */
.text-table
{
    font-size: 17px;
}
.tit-tab
{
    width: 150px;
}
.search-text
{
    display: flex;
    float:right;
    background-color: #fbf9fa;
    width: 25%;
}
@media only screen and (max-width: 730px) {
  .search-text {
      width: 100%;
  }
}
.sc-ikZpkk 
{
  font-size: large;
}
.sc-llJcti
{
  font-size: large;
} 
.lmGpws 
{
  font-size: initial;
}
.btnedit
{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: large;
  background-color: none;
  text-align: center;
  border: 1px solid black;
}
.btndelete
{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 20px;
  background-color: none;
  border: 1px solid red;
  position: relative;
}
/* --------Datatabel------ */
.btn-aprove
{
    background-color: #fd1916;
    color: #ffff;
    width: 20%;
    height: 38px;
    border: none;
}
@media only screen and (max-width: 730px) {
  .btn-aprove {
      height: 100%;
      width: 100%;
      margin-bottom:15px;
  }
}