.payment-card {
    box-shadow: 1px 3px 15px rgba(34, 35, 58, 0.2);
    opacity: 10px;
    border: #ffff;
}

.card-header {
    background-color: #ffff;
}

.nav-tabs .nav-link {
    border-bottom: 1px solid #ffff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #ffff;
    border-bottom: 1px solid #d10000;
}

.nav-link.active {
    color: #343537;
}

.nav-tabs {
    border-bottom: 1px solid #ffff;

}

.nav-link {
    color: #343537;
}

.nav-link:hover {
    color: #343537;
    border: none;
}

.card-btn {
    background-color: #343537;
    color: #ffff;
    height: 100%;
}

.payment-btn:hover {
    background-color: #fff;
    color: #343537;
}

.pl-3 {
    padding-top: 5px;
    float: right;
    size: 10px;
}

.tick {
    background-color: #fff;
    border-radius: 10px;
}

.bank-selector {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .bank-selector {
        width: 100%;
    }
}

.btn-payment {
    width: 100%;
    height: 35px;
    background-color: #d10000;
    color: #ffff;
    border-style: none;
}

.btn-bank {
    background-color: #fff;
    color: #343537;
    border: 1px solid #f1f1f1;
    width: 180px;
    height: 55px;

}

.btn-bank:active {
    border: 1px solid #d10000;
}

.img-bank {
    padding-top: 3px;
    padding-left: 4px;
    float: left;
}

/* UPI Payment */

.upi-inputbox {
    width: 30%;
}

@media only screen and (max-width: 800px) {

    .upi-inputbox {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {

    .upi-inputbox {
        width: 40%;
    }
}

.upi-images {
    width: 100%;
    height: 100%;
}

.upi-button {
    width: 15%;
    height: 15%;
}

@media only screen and (max-width: 768px) {
    .upi-images {
        width: 100%;
        height: 100%;
    }

    .upi-button {
        width: 30%;
        height: 30%;
    }
}

@media only screen and (min-width: 768px) {
    .upi-images {
        width: 100%;
        height: 100%;
    }

    .upi-button {
        width: 15%;
        height: 15%;
    }
}

/* Credit Card */
.creditcard-flex {
    width: 50%;
}

.creditcard-flex1 {
    width: 25%;
}

@media only screen and (max-width: 1000px) {

    .creditcard-flex {
        width: 100%;
    }

    .creditcard-flex1 {
        width: 50%;
    }
}

.credit-images {
    width: 80%;
    height: 80%;
}

.credit-button {
    width: 15%;
    height: 15%;
}

@media only screen and (max-width: 300px) {
    .credit-images {
        width: 100%;
        height: 100%;
    }

    .credit-button {
        width: 1000px;
        height: 1000px;
    }
}

@media only screen and (max-width: 600px) {
    .credit-images {
        width: 100%;
        height: 100%;
    }

    .credit-button {
        width: 25%;
        height: 25%;
    }
}

@media only screen and (max-width: 1000px) {
    .credit-images {
        width: 100%;
        height: 100%;
    }

    .credit-button {
        width: 20%;
        height: 20%;
    }
}