/* BANNER OR CAROUSEL*/
.baner-bg {
    width: 100%;
    height: 300px;
    background-color: #23272a;
    overflow: hidden;
}

.modal-text {
    text-align: center;
    align-items: center;
    display: flex;
    color: #d10000;
    justify-content: center;
}

.register {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Banner-Img {
    padding-top: 42px;
    padding-bottom: 42px;
}

.bnr-img {
    width: 200px;
    height: 200px;
}

.right-img {
    align-items: flex-end;

    text-align: right;
    justify-content: flex-end;
}

.bnr-text-h2 {
    color: #d10000;
    text-transform: uppercase;
}

.bnr-text-h1 {
    color: #ffff;
    text-transform: uppercase;
}

.bnr-btn {
    width: 100%;
    background-color: #d10000;
    color: #ffff;
    border-style: none;
    padding-left: 2px;
}

.bnr-btn :hover {
    background-color: #d10000;
}

.text-right {
    text-align: right;
    justify-content: right;
}

@media only screen and (max-width : 1000px) {
    .baner-bg {
        width: 100%;
        height: 250px;
        background-color: #23272a;
        overflow: hidden;
    }

    .bnr-img {
        width: 150px;
        height: 150px;

    }

    .bnr-text-h2 {
        font-size: 15px;
        color: #d10000;
        text-transform: uppercase;
    }

    .bnr-text-h1 {
        font-size: 15px;
        color: #ffff;
        text-transform: uppercase;
    }

    .bnr-btn {
        font-size: 15px;
        width: 80%;
        background-color: #d10000;
        color: #ffff;
        border-style: none;
        padding-left: 2px;
    }
}

@media only screen and (max-width : 767px) {
    .baner-bg {
        width: 100%;
        height: 190px;
        background-color: #23272a;
        overflow: hidden;
    }

    .bnr-img {
        width: 170px;
        height: 170px;
        padding-bottom: 40px;
    }

    .bnr-text-h2 {
        font-size: 15px;
        color: #d10000;
        text-transform: uppercase;
    }

    .bnr-text-h1 {
        font-size: 15px;
        color: #ffff;
        text-transform: uppercase;
    }

    .bnr-btn {
        font-size: 15px;
        width: 80%;
        background-color: #d10000;
        color: #ffff;
        border-style: none;
        padding-left: 2px;
    }
}

@media only screen and (max-width : 600px) {
    .baner-bg {
        width: 100%;
        height: 190px;
        background-color: #23272a;
        overflow: hidden;
    }

    .bnr-img {
        width: 150px;
        height: 150px;
        padding-bottom: 20px;
    }

    .bnr-text-h2 {
        font-size: 15px;
        color: #d10000;
        text-transform: uppercase;
    }

    .bnr-text-h1 {
        font-size: 15px;
        color: #ffff;
        text-transform: uppercase;
    }

    .bnr-btn {
        font-size: 15px;
        width: 80%;
        background-color: #d10000;
        color: #ffff;
        border-style: none;
        padding-left: 2px;
    }
}

@media only screen and (max-width : 385px) {
    .baner-bg {
        width: 100%;
        height: 170px;
        background-color: #23272a;
        overflow: hidden;
    }

    .bnr-img {
        width: 130px;
        height: 130px;
        padding-bottom: 30px;
    }

    .bnr-text-h2 {
        font-size: 12px;
        color: #d10000;
        text-transform: uppercase;
    }

    .bnr-text-h1 {
        font-size: 12px;
        color: #ffff;
        text-transform: uppercase;
    }

    .bnr-btn {
        font-size: 12px;
        width: 70%;
        background-color: #d10000;
        color: #ffff;
        border-style: none;
        padding-left: 2px;
    }
}

@media only screen and (max-width : 340px) {
    .baner-bg {
        width: 100%;
        height: 170px;
        background-color: #23272a;
        overflow: hidden;
    }

    .bnr-img {
        width: 130px;
        height: 130px;
        padding-bottom: 30px;
    }

    .bnr-text-h2 {
        font-size: 12px;
        color: #d10000;
        text-transform: uppercase;
    }

    .bnr-text-h1 {
        font-size: 12px;
        color: #ffff;
        text-transform: uppercase;
    }

    .bnr-btn {
        font-size: 10px;
        width: 80%;
        background-color: #d10000;
        color: #ffff;
        border-style: none;
        padding-left: 2px;
    }
}

@media only screen and (max-width : 303px) {
    .baner-bg {
        width: 100%;
        height: 170px;
        background-color: #23272a;
        overflow: hidden;
    }

    .bnr-img {
        width: 130px;
        height: 130px;
        padding-bottom: 30px;
    }

    .bnr-text-h2 {
        font-size: 12px;
        color: #d10000;
        text-transform: uppercase;
    }

    .bnr-text-h1 {
        font-size: 12px;
        color: #ffff;
        text-transform: uppercase;
    }

    .bnr-btn {
        font-size: 10px;
        width: 100%;
        background-color: #d10000;
        color: #ffff;
        border-style: none;
        padding-left: 2px;
    }
}